@page "/"

<h1>Hot Pastrami!</h1>

Welcome to a Blazor app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="row">
    <div class="col-sm">
      <Counter IncrementAmount=2/>
    </div>
    <div class="col-sm">
      <DiceRoll />
    </div>
  </div>